<!--AddContact partial view-->
<table>
    <tr>
        <td>Tag</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Address</td>
    </tr>
    <tr>
        <td>
            <input type="text" ng-model="new_tag" />
        </td>
        <td>
            <input type="text" ng-model="new_name" />
        </td>
        <td>
            <input type="text" ng-model="new_surname" />
        </td>
        <td>
            <input type="text" ng-model="new_address" />
        </td>
    </tr>
</table>
<button ng-click="AddContact()">Add</button>
