Email Address:
<ul>
    <li ng-repeat="email in target_contact.EmailAddr">{{email.Address}}</li>
</ul>
Telephone Number:
<ul>
    <li ng-repeat="tel in target_contact.TelNum">{{tel.Number}}</li>
</ul>