<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    @Scripts.Render("~/bundles/angular")
</head>
<body ng-app="ContactListApp">
    
    <ul>
        <li><a href="/#/showcontacts">ShowContacts</a></li>
        <li><a href="/#/routeTwo">Route Two</a></li>
        <li><a href="/#/routeThree">Route Three</a></li>
    </ul>

    <div ng-view></div>

</body>
</html>