<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    @Scripts.Render("~/bundles/angular")
    @Styles.Render("~/Content/css")
</head>
<body ng-app="ContactListApp">
    <header ng-controller="IndexController">
        <a href="/#/showcontacts">Show All Contacts</a>
        <a href="/#/addcontact">Add Contact</a>
        <br /><br />
        <form ng-submit="Find()">
            Search:<input type="search" ng-model="search_string" />
        </form>
        <table>
            <tr ng-repeat="result in search_results">
                <td ng-bind="result.Tag"></td>
                <td ng-bind="result.Name"></td>
                <td ng-bind="result.Surname"></td>
                <td ng-bind="result.Address"></td>
                <td><button ng-click="Delete(result)">Delete</button></td>
                <td><button ng-click="GoToUpdate(result)">Update</button></td>
                <td><button ng-click="GoToDetails(result.ContactId)">Details</button></td>
            </tr>
        </table>
    </header>
    <!--ng-view for displaying partial views-->
    <div ng-view></div>
</body>
</html>