<!--ShowContacts partial view-->
<br />
<table>
    <thead>Complete Contact List</thead>
    <tr>
        <td>Tag</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Address</td>
    </tr>
    <tr ng-repeat="contact in contacts">
        <td ng-bind="contact.Tag"></td>
        <td ng-bind="contact.Name"></td>
        <td ng-bind="contact.Surname"></td>
        <td ng-bind="contact.Address"></td>
        <td><button ng-click="Delete(contact.ContactId)">Delete</button></td>
        <td><button ng-click="GoToUpdate(contact)">Update</button></td>
        <td><button ng-click="GoToDetails(contact)">Details</button></td>
    </tr>
</table>
